.beer-tap-container-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    height: 100%;
    margin: 0;
}
.beer-tap-container-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}